*{
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}
.board {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    padding-top: 200px;
}
.tile {
    border: 5px solid #fff;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    background-color: #ccc;
    cursor: pointer;
    transition: all 0.3s;
}
.score {
    justify-content: center;
    text-align: center;
}
.tile:hover {
    transform: scale(1.05);
}